body {
    font-family: Arial, sans-serif;
    
}

.container {
    max-width: 800px;
}

.main {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    overflow: hidden;
    flex-direction: row-reverse; /* Align .right to the right */
}
.left, .right {
    padding: 20px;
}



.left {
    background-color: #f7f7f7;
    width: 30%;
    padding:20px;
}


.right {
    background-color: #fff;
    width: 60%;
    padding:20px;
    
}
.profile-img
{
    width:150px;
    height:150px;
    border-radius:50%;
    overflow:hidden;
    margin-bottom:20px;

}


.profile-img img {
    width: 100%;
    height: 100%;
 object-fit:cover;
border:5px solid #ffff ;
 box-shadow:0 0 10px rgba(0,0,0,0.1);
}


.box1 {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.box1 .heading {
    background-color: #4d4d4d;
    color: white;
    padding: 5px;
    border-radius: 3px;
}

.box1 .heading p {
    margin: 0;
    font-size: 16px;
    text-align: center;
}

.box1 p.p1 {
    margin: 10px 0;
    display: flex;
    align-items: center;
}

.box1 p.p1 i.icons1 {
    margin-right: 10px;
}

.box-2 {
    margin-bottom: 20px;
}

.box-2 h2 {
    background-color:#4d4d4d;
    color: white;
    padding: 5px;
    border-radius: 3px;
    margin-bottom: 30px;
}
.h-div {
    list-style: none;
    padding: 0;
}

.h-div li {
    margin: 5px 0;
}

.h-div li i {
    margin-right: 10px;
}
.right {
    /* Ensure this container has enough padding or margin */
    padding-bottom: 50px; /* Adjust as needed */
}

.name-div {
    margin-bottom: 10px; /* Increase space under name-div */
}

#softskillsListRight,
#skillsListRight,
#hobbiesListRight {
    margin-top: 60px; /* Increase space above each list */
}

.box-2 {
    margin-bottom: 45px; /* Adjust as needed */
    padding-bottom: 45px; /* Adjust as needed */
    border-bottom: 2px solid #ccc; /* Optional: Adds a bottom border */
}

.box1 .p1, .box-2 .p2, .box-2 ul {
    font-size: 14px; /* Adjust font size for text content */
    line-height: 1.6; /* Adjust line height for better readability */
}
form-group {
    background-color: #f0f0f0; /* Light grey color */

}
.form-group {
    background-color: #e0e0e0; /* Light grey color */
    padding: 15px; /* Add padding for spacing */
    margin-bottom: 15px; /* Add margin to separate form groups */
    border-radius: 5px; /* Optional: Rounded corners for a softer look */
}
/* styles.css */



.btn-primary {
    /* Style for the Print CV button */
    margin-top: 20px; /* Adjust margin as needed */
}

